[package]
name = "idklol"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
openssl = "0.10"
dirs = "4.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
time = "0.3"
log = "0.4"